.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    font-weight: 500;
    font-size: 1rem;
}

input{
    border: 1px solid rgb(199,182,188);
    outline: none;
    padding: 10px 12px;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 10px;
}


input:hover{
    border: 1px solid #4cc275;
}

input:focus{
    border: 1px solid #239c22;
}